:root {
  --variables-misc-white-to-dark: undefined;
  --variables-misc-white-to-dark-2: rgba(255, 255, 255, 0.90);
  --variables-misc-dark-to-white: undefined;
  --variables-misc-backdrop: undefined;
  --variables-effects-translucent: rgba(255, 255, 255, 0.80);
  --variables-effects-solid: undefined;
  --colors-gray-1: #fcfcfc;
  --colors-gray-2: #f9f9f9;
  --colors-gray-3: #f0f0f0;
  --colors-gray-4: #e8e8e8;
  --colors-gray-5: #e0e0e0;
  --colors-gray-6: #d9d9d9;
  --colors-gray-7: #cecece;
  --colors-gray-8: #bbbbbb;
  --colors-gray-9: #8d8d8d;
  --colors-gray-10: #838383;
  --colors-gray-11: #646464;
  --colors-gray-12: #202020;
  --colors-gray-alpha-1: rgba(0, 0, 0, 0.01);
  --colors-gray-alpha-2: rgba(0, 0, 0, 0.02);
  --colors-gray-alpha-3: rgba(0, 0, 0, 0.06);
  --colors-gray-alpha-4: rgba(0, 0, 0, 0.09);
  --colors-gray-alpha-5: rgba(0, 0, 0, 0.12);
  --colors-gray-alpha-6: rgba(0, 0, 0, 0.15);
  --colors-gray-alpha-7: rgba(0, 0, 0, 0.19);
  --colors-gray-alpha-8: rgba(0, 0, 0, 0.27);
  --colors-gray-alpha-9: rgba(0, 0, 0, 0.45);
  --colors-gray-alpha-10: rgba(0, 0, 0, 0.49);
  --colors-gray-alpha-11: rgba(0, 0, 0, 0.61);
  --colors-gray-alpha-12: rgba(0, 0, 0, 0.87);
  --colors-mauve-1: #fdfcfd;
  --colors-mauve-2: #faf9fb;
  --colors-mauve-3: #f2eff3;
  --colors-mauve-4: #eae7ec;
  --colors-mauve-5: #e3dfe6;
  --colors-mauve-6: #dbd8e0;
  --colors-mauve-7: #d0cdd7;
  --colors-mauve-8: #bcbac7;
  --colors-mauve-9: #8e8c99;
  --colors-mauve-10: #84828e;
  --colors-mauve-11: #65636d;
  --colors-mauve-12: #211f26;
  --colors-mauve-alpha-1: rgba(85, 0, 85, 0.01);
  --colors-mauve-alpha-2: rgba(43, 0, 85, 0.02);
  --colors-mauve-alpha-3: rgba(48, 0, 64, 0.06);
  --colors-mauve-alpha-4: rgba(32, 0, 54, 0.09);
  --colors-mauve-alpha-5: rgba(32, 0, 56, 0.13);
  --colors-mauve-alpha-6: rgba(20, 0, 53, 0.15);
  --colors-mauve-alpha-7: rgba(16, 0, 51, 0.20);
  --colors-mauve-alpha-8: rgba(8, 0, 49, 0.27);
  --colors-mauve-alpha-9: rgba(5, 0, 29, 0.45);
  --colors-mauve-alpha-10: rgba(5, 0, 25, 0.49);
  --colors-mauve-alpha-11: rgba(4, 0, 17, 0.61);
  --colors-mauve-alpha-12: rgba(2, 0, 8, 0.88);
  --colors-slate-1: #fcfcfd;
  --colors-slate-2: #f9f9fb;
  --colors-slate-3: #f0f0f3;
  --colors-slate-4: #e8e8ec;
  --colors-slate-5: #e0e1e6;
  --colors-slate-6: #d9d9e0;
  --colors-slate-7: #cdced6;
  --colors-slate-8: #b9bbc6;
  --colors-slate-9: #8b8d98;
  --colors-slate-10: #80838d;
  --colors-slate-11: #60646c;
  --colors-slate-12: #1c2024;
  --colors-slate-alpha-1: rgba(0, 0, 85, 0.01);
  --colors-slate-alpha-2: rgba(0, 0, 85, 0.02);
  --colors-slate-alpha-3: rgba(0, 0, 51, 0.06);
  --colors-slate-alpha-4: rgba(0, 0, 45, 0.09);
  --colors-slate-alpha-5: rgba(0, 9, 50, 0.12);
  --colors-slate-alpha-6: rgba(0, 0, 47, 0.15);
  --colors-slate-alpha-7: rgba(0, 6, 46, 0.20);
  --colors-slate-alpha-8: rgba(0, 8, 48, 0.27);
  --colors-slate-alpha-9: rgba(0, 5, 29, 0.45);
  --colors-slate-alpha-10: rgba(0, 7, 27, 0.50);
  --colors-slate-alpha-11: rgba(0, 7, 20, 0.62);
  --colors-slate-alpha-12: rgba(0, 5, 9, 0.89);
  --colors-sage-1: #fbfdfc;
  --colors-sage-2: #f7f9f8;
  --colors-sage-3: #eef1f0;
  --colors-sage-4: #e6e9e8;
  --colors-sage-5: #dfe2e0;
  --colors-sage-6: #d7dad9;
  --colors-sage-7: #cbcfcd;
  --colors-sage-8: #b8bcba;
  --colors-sage-9: #868e8b;
  --colors-sage-10: #7c8481;
  --colors-sage-11: #5f6563;
  --colors-sage-12: #1a211e;
  --colors-sage-alpha-1: rgba(0, 128, 64, 0.02);
  --colors-sage-alpha-2: rgba(0, 64, 32, 0.03);
  --colors-sage-alpha-3: rgba(0, 45, 30, 0.07);
  --colors-sage-alpha-4: rgba(0, 31, 21, 0.10);
  --colors-sage-alpha-5: rgba(0, 24, 8, 0.13);
  --colors-sage-alpha-6: rgba(0, 20, 13, 0.16);
  --colors-sage-alpha-7: rgba(0, 20, 10, 0.20);
  --colors-sage-alpha-8: rgba(0, 15, 8, 0.28);
  --colors-sage-alpha-9: rgba(0, 17, 11, 0.47);
  --colors-sage-alpha-10: rgba(0, 16, 10, 0.51);
  --colors-sage-alpha-11: rgba(0, 10, 7, 0.63);
  --colors-sage-alpha-12: rgba(0, 8, 5, 0.90);
  --colors-olive-1: #fcfdfc;
  --colors-olive-2: #f8faf8;
  --colors-olive-3: #eff1ef;
  --colors-olive-4: #e7e9e7;
  --colors-olive-5: #dfe2df;
  --colors-olive-6: #d7dad7;
  --colors-olive-7: #cccfcc;
  --colors-olive-8: #b9bcb8;
  --colors-olive-9: #898e87;
  --colors-olive-10: #7f847d;
  --colors-olive-11: #60655f;
  --colors-olive-12: #1d211c;
  --colors-olive-alpha-1: rgba(0, 85, 0, 0.01);
  --colors-olive-alpha-2: rgba(0, 73, 0, 0.03);
  --colors-olive-alpha-3: rgba(0, 32, 0, 0.06);
  --colors-olive-alpha-4: rgba(0, 22, 0, 0.09);
  --colors-olive-alpha-5: rgba(0, 24, 0, 0.13);
  --colors-olive-alpha-6: rgba(0, 20, 0, 0.16);
  --colors-olive-alpha-7: rgba(0, 15, 0, 0.20);
  --colors-olive-alpha-8: rgba(4, 15, 0, 0.28);
  --colors-olive-alpha-9: rgba(5, 15, 0, 0.47);
  --colors-olive-alpha-10: rgba(4, 14, 0, 0.51);
  --colors-olive-alpha-11: rgba(2, 10, 0, 0.63);
  --colors-olive-alpha-12: rgba(1, 6, 0, 0.89);
  --colors-sand-1: #fdfdfc;
  --colors-sand-2: #f9f9f8;
  --colors-sand-3: #f1f0ef;
  --colors-sand-4: #e9e8e6;
  --colors-sand-5: #e2e1de;
  --colors-sand-6: #dad9d6;
  --colors-sand-7: #cfceca;
  --colors-sand-8: #bcbbb5;
  --colors-sand-9: #8d8d86;
  --colors-sand-10: #82827c;
  --colors-sand-11: #63635e;
  --colors-sand-12: #21201c;
  --colors-sand-alpha-1: rgba(85, 85, 0, 0.01);
  --colors-sand-alpha-2: rgba(37, 37, 0, 0.03);
  --colors-sand-alpha-3: rgba(32, 16, 0, 0.06);
  --colors-sand-alpha-4: rgba(31, 21, 0, 0.10);
  --colors-sand-alpha-5: rgba(31, 24, 0, 0.13);
  --colors-sand-alpha-6: rgba(25, 19, 0, 0.16);
  --colors-sand-alpha-7: rgba(25, 20, 0, 0.21);
  --colors-sand-alpha-8: rgba(25, 21, 1, 0.29);
  --colors-sand-alpha-9: rgba(15, 15, 0, 0.47);
  --colors-sand-alpha-10: rgba(12, 12, 0, 0.51);
  --colors-sand-alpha-11: rgba(8, 8, 0, 0.63);
  --colors-sand-alpha-12: rgba(6, 5, 0, 0.89);
  --colors-gold-1: #fdfdfc;
  --colors-gold-2: #faf9f2;
  --colors-gold-3: #f2f0e7;
  --colors-gold-4: #eae6db;
  --colors-gold-5: #e1dccf;
  --colors-gold-6: #d8d0bf;
  --colors-gold-7: #cbc0aa;
  --colors-gold-8: #b9a88d;
  --colors-gold-9: #978365;
  --colors-gold-10: #8c7a5e;
  --colors-gold-11: #71624b;
  --colors-gold-12: #3b352b;
  --colors-gold-alpha-1: rgba(85, 85, 0, 0.01);
  --colors-gold-alpha-2: rgba(157, 138, 0, 0.05);
  --colors-gold-alpha-3: rgba(117, 96, 0, 0.09);
  --colors-gold-alpha-4: rgba(107, 78, 0, 0.14);
  --colors-gold-alpha-5: rgba(96, 70, 0, 0.19);
  --colors-gold-alpha-6: rgba(100, 68, 0, 0.25);
  --colors-gold-alpha-7: rgba(99, 66, 0, 0.33);
  --colors-gold-alpha-8: rgba(99, 61, 0, 0.45);
  --colors-gold-alpha-9: rgba(83, 50, 0, 0.60);
  --colors-gold-alpha-10: rgba(73, 45, 0, 0.63);
  --colors-gold-alpha-11: rgba(54, 33, 0, 0.71);
  --colors-gold-alpha-12: rgba(19, 12, 0, 0.83);
  --colors-bronze-1: #fdfcfc;
  --colors-bronze-2: #fdf7f5;
  --colors-bronze-3: #f6edea;
  --colors-bronze-4: #efe4df;
  --colors-bronze-5: #e7d9d3;
  --colors-bronze-6: #dfcdc5;
  --colors-bronze-7: #d3bcb3;
  --colors-bronze-8: #c2a499;
  --colors-bronze-9: #a18072;
  --colors-bronze-10: #957468;
  --colors-bronze-11: #7d5e54;
  --colors-bronze-12: #43302b;
  --colors-bronze-alpha-1: rgba(85, 0, 0, 0.01);
  --colors-bronze-alpha-2: rgba(204, 51, 0, 0.04);
  --colors-bronze-alpha-3: rgba(146, 37, 0, 0.08);
  --colors-bronze-alpha-4: rgba(128, 40, 0, 0.13);
  --colors-bronze-alpha-5: rgba(116, 35, 0, 0.17);
  --colors-bronze-alpha-6: rgba(115, 36, 0, 0.23);
  --colors-bronze-alpha-7: rgba(108, 31, 0, 0.30);
  --colors-bronze-alpha-8: rgba(103, 28, 0, 0.40);
  --colors-bronze-alpha-9: rgba(85, 26, 0, 0.55);
  --colors-bronze-alpha-10: rgba(76, 21, 0, 0.59);
  --colors-bronze-alpha-11: rgba(61, 15, 0, 0.67);
  --colors-bronze-alpha-12: rgba(29, 6, 0, 0.83);
  --colors-brown-1: #fefdfc;
  --colors-brown-2: #fcf9f6;
  --colors-brown-3: #f6eee7;
  --colors-brown-4: #f0e4d9;
  --colors-brown-5: #ebdaca;
  --colors-brown-6: #e4cdb7;
  --colors-brown-7: #dcbc9f;
  --colors-brown-8: #cea37e;
  --colors-brown-9: #ad7f58;
  --colors-brown-10: #a07553;
  --colors-brown-11: #815e46;
  --colors-brown-12: #3e332e;
  --colors-brown-alpha-1: rgba(170, 85, 0, 0.01);
  --colors-brown-alpha-2: rgba(170, 85, 0, 0.04);
  --colors-brown-alpha-3: rgba(160, 75, 0, 0.09);
  --colors-brown-alpha-4: rgba(155, 74, 0, 0.15);
  --colors-brown-alpha-5: rgba(159, 77, 0, 0.21);
  --colors-brown-alpha-6: rgba(160, 78, 0, 0.28);
  --colors-brown-alpha-7: rgba(163, 78, 0, 0.38);
  --colors-brown-alpha-8: rgba(159, 74, 0, 0.51);
  --colors-brown-alpha-9: rgba(130, 60, 0, 0.65);
  --colors-brown-alpha-10: rgba(114, 51, 0, 0.67);
  --colors-brown-alpha-11: rgba(82, 33, 0, 0.73);
  --colors-brown-alpha-12: rgba(20, 6, 0, 0.82);
  --colors-yellow-1: #fdfdf9;
  --colors-yellow-2: #fefce9;
  --colors-yellow-3: #fffab8;
  --colors-yellow-4: #fff394;
  --colors-yellow-5: #ffe770;
  --colors-yellow-6: #f3d768;
  --colors-yellow-7: #e4c767;
  --colors-yellow-8: #d5ae39;
  --colors-yellow-9: #ffe629;
  --colors-yellow-10: #ffdc00;
  --colors-yellow-11: #9e6c00;
  --colors-yellow-12: #473b1f;
  --colors-yellow-alpha-1: rgba(170, 170, 0, 0.02);
  --colors-yellow-alpha-2: rgba(244, 221, 0, 0.09);
  --colors-yellow-alpha-3: rgba(255, 238, 0, 0.28);
  --colors-yellow-alpha-4: rgba(255, 227, 1, 0.42);
  --colors-yellow-alpha-5: rgba(255, 213, 0, 0.56);
  --colors-yellow-alpha-6: rgba(235, 188, 0, 0.59);
  --colors-yellow-alpha-7: rgba(210, 161, 0, 0.60);
  --colors-yellow-alpha-8: rgba(201, 151, 0, 0.78);
  --colors-yellow-alpha-9: rgba(255, 225, 0, 0.84);
  --colors-yellow-alpha-10: #ffdc00;
  --colors-yellow-alpha-11: #9e6c00;
  --colors-yellow-alpha-12: rgba(46, 32, 0, 0.88);
  --colors-amber-1: #fefdfb;
  --colors-amber-2: #fefbe9;
  --colors-amber-3: #fff7c2;
  --colors-amber-4: #ffee9c;
  --colors-amber-5: #fbe577;
  --colors-amber-6: #f3d673;
  --colors-amber-7: #e9c162;
  --colors-amber-8: #e2a336;
  --colors-amber-9: #ffc53d;
  --colors-amber-10: #ffba18;
  --colors-amber-11: #ab6400;
  --colors-amber-12: #4f3422;
  --colors-amber-alpha-1: rgba(192, 128, 0, 0.02);
  --colors-amber-alpha-2: rgba(244, 209, 0, 0.09);
  --colors-amber-alpha-3: rgba(255, 222, 0, 0.24);
  --colors-amber-alpha-4: rgba(255, 212, 0, 0.39);
  --colors-amber-alpha-5: rgba(248, 207, 0, 0.53);
  --colors-amber-alpha-6: rgba(234, 181, 0, 0.55);
  --colors-amber-alpha-7: rgba(220, 155, 0, 0.62);
  --colors-amber-alpha-8: rgba(218, 138, 0, 0.79);
  --colors-amber-alpha-9: rgba(255, 179, 0, 0.76);
  --colors-amber-alpha-10: rgba(255, 179, 0, 0.91);
  --colors-amber-alpha-11: #ab6400;
  --colors-amber-alpha-12: rgba(52, 21, 0, 0.87);
  --colors-orange-1: #fefcfb;
  --colors-orange-2: #fff7ed;
  --colors-orange-3: #ffefd6;
  --colors-orange-4: #ffdfb5;
  --colors-orange-5: #ffd19a;
  --colors-orange-6: #ffc182;
  --colors-orange-7: #f5ae73;
  --colors-orange-8: #ec9455;
  --colors-orange-9: #f76b15;
  --colors-orange-10: #ef5f00;
  --colors-orange-11: #cc4e00;
  --colors-orange-12: #582d1d;
  --colors-orange-alpha-1: rgba(192, 64, 0, 0.02);
  --colors-orange-alpha-2: rgba(255, 142, 0, 0.07);
  --colors-orange-alpha-3: rgba(255, 156, 0, 0.16);
  --colors-orange-alpha-4: rgba(255, 145, 1, 0.29);
  --colors-orange-alpha-5: rgba(255, 139, 0, 0.40);
  --colors-orange-alpha-6: rgba(255, 129, 0, 0.49);
  --colors-orange-alpha-7: rgba(237, 108, 0, 0.55);
  --colors-orange-alpha-8: rgba(227, 95, 0, 0.67);
  --colors-orange-alpha-9: rgba(246, 94, 0, 0.92);
  --colors-orange-alpha-10: #ef5f00;
  --colors-orange-alpha-11: rgba(204, 78, 0, 0.77);
  --colors-orange-alpha-12: rgba(67, 18, 0, 0.89);
  --colors-tomato-1: #fffcfc;
  --colors-tomato-2: #fff8f7;
  --colors-tomato-3: #feebe7;
  --colors-tomato-4: #ffdcd3;
  --colors-tomato-5: #ffcdc2;
  --colors-tomato-6: #fdbdaf;
  --colors-tomato-7: #f5a898;
  --colors-tomato-8: #ec8e7b;
  --colors-tomato-9: #e54d2e;
  --colors-tomato-10: #dd4425;
  --colors-tomato-11: #d13415;
  --colors-tomato-12: #5c271f;
  --colors-tomato-alpha-1: rgba(255, 0, 0, 0.01);
  --colors-tomato-alpha-2: rgba(255, 32, 0, 0.03);
  --colors-tomato-alpha-3: rgba(245, 43, 0, 0.09);
  --colors-tomato-alpha-4: rgba(255, 53, 0, 0.17);
  --colors-tomato-alpha-5: rgba(255, 46, 0, 0.24);
  --colors-tomato-alpha-6: rgba(249, 45, 0, 0.31);
  --colors-tomato-alpha-7: rgba(231, 40, 0, 0.40);
  --colors-tomato-alpha-8: rgba(219, 37, 0, 0.52);
  --colors-tomato-alpha-9: rgba(223, 38, 0, 0.82);
  --colors-tomato-alpha-10: rgba(215, 36, 0, 0.85);
  --colors-tomato-alpha-11: rgba(205, 34, 0, 0.92);
  --colors-tomato-alpha-12: rgba(70, 9, 0, 0.88);
  --colors-red-1: #fffcfc;
  --colors-red-2: #fff7f7;
  --colors-red-3: #feebec;
  --colors-red-4: #ffdbdc;
  --colors-red-5: #ffcdce;
  --colors-red-6: #fdbdbe;
  --colors-red-7: #f4a9aa;
  --colors-red-8: #eb8e90;
  --colors-red-9: #e5484d;
  --colors-red-10: #dc3e42;
  --colors-red-11: #ce2c31;
  --colors-red-12: #641723;
  --colors-red-alpha-1: rgba(255, 0, 0, 0.01);
  --colors-red-alpha-2: rgba(255, 0, 0, 0.03);
  --colors-red-alpha-3: rgba(243, 0, 13, 0.08);
  --colors-red-alpha-4: rgba(255, 0, 8, 0.14);
  --colors-red-alpha-5: rgba(255, 0, 6, 0.20);
  --colors-red-alpha-6: rgba(248, 0, 4, 0.26);
  --colors-red-alpha-7: rgba(223, 0, 3, 0.34);
  --colors-red-alpha-8: rgba(210, 0, 5, 0.44);
  --colors-red-alpha-9: rgba(219, 0, 7, 0.72);
  --colors-red-alpha-10: rgba(209, 0, 5, 0.76);
  --colors-red-alpha-11: rgba(196, 0, 6, 0.83);
  --colors-red-alpha-12: rgba(85, 0, 13, 0.91);
  --colors-ruby-1: #fffcfd;
  --colors-ruby-2: #fff7f9;
  --colors-ruby-3: #feeff3;
  --colors-ruby-4: #ffdce1;
  --colors-ruby-5: #ffced6;
  --colors-ruby-6: #f8bfc8;
  --colors-ruby-7: #efacb8;
  --colors-ruby-8: #e592a3;
  --colors-ruby-9: #e54666;
  --colors-ruby-10: #dc3b5d;
  --colors-ruby-11: #ca244d;
  --colors-ruby-12: #64172b;
  --colors-ruby-alpha-1: rgba(255, 0, 85, 0.01);
  --colors-ruby-alpha-2: rgba(255, 0, 32, 0.03);
  --colors-ruby-alpha-3: rgba(243, 0, 37, 0.08);
  --colors-ruby-alpha-4: rgba(255, 0, 37, 0.14);
  --colors-ruby-alpha-5: rgba(255, 0, 42, 0.19);
  --colors-ruby-alpha-6: rgba(228, 0, 36, 0.25);
  --colors-ruby-alpha-7: rgba(206, 0, 37, 0.33);
  --colors-ruby-alpha-8: rgba(195, 0, 40, 0.43);
  --colors-ruby-alpha-9: rgba(219, 0, 44, 0.73);
  --colors-ruby-alpha-10: rgba(210, 0, 44, 0.77);
  --colors-ruby-alpha-11: rgba(193, 0, 48, 0.86);
  --colors-ruby-alpha-12: rgba(85, 0, 22, 0.91);
  --colors-crimson-1: #fffcfd;
  --colors-crimson-2: #fef7f9;
  --colors-crimson-3: #ffe9f0;
  --colors-crimson-4: #fedce7;
  --colors-crimson-5: #facedd;
  --colors-crimson-6: #f3bed1;
  --colors-crimson-7: #eaacc3;
  --colors-crimson-8: #e093b2;
  --colors-crimson-9: #e93d82;
  --colors-crimson-10: #df3478;
  --colors-crimson-11: #cb1d63;
  --colors-crimson-12: #621639;
  --colors-crimson-alpha-1: rgba(255, 0, 85, 0.01);
  --colors-crimson-alpha-2: rgba(224, 0, 64, 0.03);
  --colors-crimson-alpha-3: rgba(255, 0, 82, 0.09);
  --colors-crimson-alpha-4: rgba(248, 0, 81, 0.14);
  --colors-crimson-alpha-5: rgba(229, 0, 79, 0.19);
  --colors-crimson-alpha-6: rgba(208, 0, 75, 0.25);
  --colors-crimson-alpha-7: rgba(191, 0, 71, 0.33);
  --colors-crimson-alpha-8: rgba(182, 0, 74, 0.42);
  --colors-crimson-alpha-9: rgba(226, 0, 91, 0.76);
  --colors-crimson-alpha-10: rgba(215, 0, 86, 0.80);
  --colors-crimson-alpha-11: rgba(196, 0, 79, 0.89);
  --colors-crimson-alpha-12: rgba(83, 0, 38, 0.91);
  --colors-pink-1: #fffcfe;
  --colors-pink-2: #fef7fb;
  --colors-pink-3: #fee9f5;
  --colors-pink-4: #fbdcef;
  --colors-pink-5: #f6cee7;
  --colors-pink-6: #efbfdd;
  --colors-pink-7: #e7acd0;
  --colors-pink-8: #dd93c2;
  --colors-pink-9: #d6409f;
  --colors-pink-10: #cf3897;
  --colors-pink-11: #c2298a;
  --colors-pink-12: #651249;
  --colors-pink-alpha-1: rgba(255, 0, 170, 0.01);
  --colors-pink-alpha-2: rgba(224, 0, 128, 0.03);
  --colors-pink-alpha-3: rgba(244, 0, 140, 0.09);
  --colors-pink-alpha-4: rgba(226, 0, 139, 0.14);
  --colors-pink-alpha-5: rgba(209, 0, 131, 0.19);
  --colors-pink-alpha-6: rgba(192, 0, 120, 0.25);
  --colors-pink-alpha-7: rgba(182, 0, 111, 0.33);
  --colors-pink-alpha-8: rgba(175, 0, 111, 0.42);
  --colors-pink-alpha-9: rgba(200, 0, 127, 0.75);
  --colors-pink-alpha-10: rgba(194, 0, 122, 0.78);
  --colors-pink-alpha-11: rgba(182, 0, 116, 0.84);
  --colors-pink-alpha-12: rgba(89, 0, 59, 0.93);
  --colors-plum-1: #fefcff;
  --colors-plum-2: #fdf7fd;
  --colors-plum-3: #fbebfb;
  --colors-plum-4: #f7def8;
  --colors-plum-5: #f2d1f3;
  --colors-plum-6: #e9c2ec;
  --colors-plum-7: #deade3;
  --colors-plum-8: #cf91d8;
  --colors-plum-9: #ab4aba;
  --colors-plum-10: #a144af;
  --colors-plum-11: #953ea3;
  --colors-plum-12: #53195d;
  --colors-plum-alpha-1: rgba(170, 0, 255, 0.01);
  --colors-plum-alpha-2: rgba(192, 0, 192, 0.03);
  --colors-plum-alpha-3: rgba(204, 0, 204, 0.08);
  --colors-plum-alpha-4: rgba(194, 0, 201, 0.13);
  --colors-plum-alpha-5: rgba(183, 0, 189, 0.18);
  --colors-plum-alpha-6: rgba(164, 0, 176, 0.24);
  --colors-plum-alpha-7: rgba(153, 0, 168, 0.32);
  --colors-plum-alpha-8: rgba(144, 0, 165, 0.43);
  --colors-plum-alpha-9: rgba(137, 0, 158, 0.71);
  --colors-plum-alpha-10: rgba(127, 0, 146, 0.73);
  --colors-plum-alpha-11: rgba(115, 0, 134, 0.76);
  --colors-plum-alpha-12: rgba(64, 0, 75, 0.90);
  --colors-purple-1: #fefcfe;
  --colors-purple-2: #fbf7fe;
  --colors-purple-3: #f7edfe;
  --colors-purple-4: #f2e2fc;
  --colors-purple-5: #ead5f9;
  --colors-purple-6: #e0c4f4;
  --colors-purple-7: #d1afec;
  --colors-purple-8: #be93e4;
  --colors-purple-9: #8e4ec6;
  --colors-purple-10: #8347b9;
  --colors-purple-11: #8145b5;
  --colors-purple-12: #402060;
  --colors-purple-alpha-1: rgba(170, 0, 170, 0.01);
  --colors-purple-alpha-2: rgba(128, 0, 224, 0.03);
  --colors-purple-alpha-3: rgba(142, 0, 241, 0.07);
  --colors-purple-alpha-4: rgba(141, 0, 229, 0.11);
  --colors-purple-alpha-5: rgba(128, 0, 219, 0.16);
  --colors-purple-alpha-6: rgba(122, 1, 208, 0.23);
  --colors-purple-alpha-7: rgba(109, 0, 195, 0.31);
  --colors-purple-alpha-8: rgba(102, 0, 192, 0.42);
  --colors-purple-alpha-9: rgba(92, 0, 173, 0.69);
  --colors-purple-alpha-10: rgba(83, 0, 158, 0.72);
  --colors-purple-alpha-11: rgba(82, 0, 154, 0.73);
  --colors-purple-alpha-12: rgba(37, 0, 73, 0.87);
  --colors-violet-1: #fdfcfe;
  --colors-violet-2: #faf8ff;
  --colors-violet-3: #f4f0fe;
  --colors-violet-4: #ebe4ff;
  --colors-violet-5: #e1d9ff;
  --colors-violet-6: #d4cafe;
  --colors-violet-7: #c2b5f5;
  --colors-violet-8: #aa99ec;
  --colors-violet-9: #6e56cf;
  --colors-violet-10: #654dc4;
  --colors-violet-11: #6550b9;
  --colors-violet-12: #2f265f;
  --colors-violet-alpha-1: rgba(85, 0, 170, 0.01);
  --colors-violet-alpha-2: rgba(73, 0, 255, 0.03);
  --colors-violet-alpha-3: rgba(68, 0, 238, 0.06);
  --colors-violet-alpha-4: rgba(67, 0, 255, 0.11);
  --colors-violet-alpha-5: rgba(54, 0, 255, 0.15);
  --colors-violet-alpha-6: rgba(49, 0, 251, 0.21);
  --colors-violet-alpha-7: rgba(45, 1, 221, 0.29);
  --colors-violet-alpha-8: rgba(43, 0, 208, 0.40);
  --colors-violet-alpha-9: rgba(36, 0, 183, 0.66);
  --colors-violet-alpha-10: rgba(35, 0, 171, 0.70);
  --colors-violet-alpha-11: rgba(31, 0, 153, 0.69);
  --colors-violet-alpha-12: rgba(11, 0, 67, 0.85);
  --colors-iris-1: #fdfdff;
  --colors-iris-2: #f8f8ff;
  --colors-iris-3: #f0f1fe;
  --colors-iris-4: #e6e7ff;
  --colors-iris-5: #dadcff;
  --colors-iris-6: #cbcdff;
  --colors-iris-7: #b8baf8;
  --colors-iris-8: #9b9ef0;
  --colors-iris-9: #5b5bd6;
  --colors-iris-10: #5151cd;
  --colors-iris-11: #5753c6;
  --colors-iris-12: #272962;
  --colors-iris-alpha-1: rgba(0, 0, 255, 0.01);
  --colors-iris-alpha-2: rgba(0, 0, 255, 0.03);
  --colors-iris-alpha-3: rgba(0, 17, 238, 0.06);
  --colors-iris-alpha-4: rgba(0, 11, 255, 0.10);
  --colors-iris-alpha-5: rgba(0, 14, 255, 0.15);
  --colors-iris-alpha-6: rgba(0, 10, 255, 0.20);
  --colors-iris-alpha-7: rgba(0, 8, 230, 0.28);
  --colors-iris-alpha-8: rgba(0, 8, 217, 0.39);
  --colors-iris-alpha-9: rgba(0, 0, 192, 0.64);
  --colors-iris-alpha-10: rgba(0, 0, 182, 0.68);
  --colors-iris-alpha-11: rgba(6, 0, 171, 0.67);
  --colors-iris-alpha-12: rgba(0, 2, 70, 0.85);
  --colors-indigo-1: #fdfdfe;
  --colors-indigo-2: #f7f9ff;
  --colors-indigo-3: #edf2fe;
  --colors-indigo-4: #e1e9ff;
  --colors-indigo-5: #d2deff;
  --colors-indigo-6: #c1d0ff;
  --colors-indigo-7: #abbdf9;
  --colors-indigo-8: #8da4ef;
  --colors-indigo-9: #3e63dd;
  --colors-indigo-10: #3358d4;
  --colors-indigo-11: #3a5bc7;
  --colors-indigo-12: #1f2d5c;
  --colors-indigo-alpha-1: rgba(0, 0, 128, 0.01);
  --colors-indigo-alpha-2: rgba(0, 64, 255, 0.03);
  --colors-indigo-alpha-3: rgba(0, 71, 241, 0.07);
  --colors-indigo-alpha-4: rgba(0, 68, 255, 0.12);
  --colors-indigo-alpha-5: rgba(0, 68, 255, 0.18);
  --colors-indigo-alpha-6: rgba(0, 62, 255, 0.24);
  --colors-indigo-alpha-7: rgba(0, 55, 237, 0.33);
  --colors-indigo-alpha-8: rgba(0, 52, 220, 0.45);
  --colors-indigo-alpha-9: rgba(0, 49, 210, 0.76);
  --colors-indigo-alpha-10: rgba(0, 46, 201, 0.80);
  --colors-indigo-alpha-11: rgba(0, 43, 183, 0.77);
  --colors-indigo-alpha-12: rgba(0, 16, 70, 0.88);
  --colors-blue-1: #fbfdff;
  --colors-blue-2: #f4faff;
  --colors-blue-3: #e6f4fe;
  --colors-blue-4: #d5efff;
  --colors-blue-5: #c2e5ff;
  --colors-blue-6: #acd8fc;
  --colors-blue-7: #8ec8f6;
  --colors-blue-8: #5eb1ef;
  --colors-blue-9: #0090ff;
  --colors-blue-10: #0588f0;
  --colors-blue-11: #0d74ce;
  --colors-blue-12: #113264;
  --colors-blue-alpha-1: rgba(0, 128, 255, 0.02);
  --colors-blue-alpha-2: rgba(0, 140, 255, 0.04);
  --colors-blue-alpha-3: rgba(0, 143, 245, 0.10);
  --colors-blue-alpha-4: rgba(0, 158, 255, 0.16);
  --colors-blue-alpha-5: rgba(0, 147, 255, 0.24);
  --colors-blue-alpha-6: rgba(0, 136, 246, 0.33);
  --colors-blue-alpha-7: rgba(0, 131, 235, 0.44);
  --colors-blue-alpha-8: rgba(0, 132, 230, 0.63);
  --colors-blue-alpha-9: #0090ff;
  --colors-blue-alpha-10: rgba(0, 134, 240, 0.98);
  --colors-blue-alpha-11: rgba(0, 109, 203, 0.95);
  --colors-blue-alpha-12: rgba(91, 92, 93, 0.93);
  --colors-cyan-1: #fafdfe;
  --colors-cyan-2: #f2fafb;
  --colors-cyan-3: #def7f9;
  --colors-cyan-4: #caf1f6;
  --colors-cyan-5: #b5e9f0;
  --colors-cyan-6: #9ddde7;
  --colors-cyan-7: #7dcedc;
  --colors-cyan-8: #3db9cf;
  --colors-cyan-9: #00a2c7;
  --colors-cyan-10: #0797b9;
  --colors-cyan-11: #107d98;
  --colors-cyan-12: #0d3c48;
  --colors-cyan-alpha-1: rgba(0, 153, 204, 0.02);
  --colors-cyan-alpha-2: rgba(0, 157, 177, 0.05);
  --colors-cyan-alpha-3: rgba(0, 194, 209, 0.13);
  --colors-cyan-alpha-4: rgba(0, 188, 212, 0.21);
  --colors-cyan-alpha-5: rgba(1, 180, 204, 0.29);
  --colors-cyan-alpha-6: rgba(0, 167, 193, 0.38);
  --colors-cyan-alpha-7: rgba(0, 159, 187, 0.51);
  --colors-cyan-alpha-8: rgba(0, 163, 192, 0.76);
  --colors-cyan-alpha-9: #00a2c7;
  --colors-cyan-alpha-10: rgba(0, 148, 183, 0.97);
  --colors-cyan-alpha-11: rgba(0, 116, 145, 0.94);
  --colors-cyan-alpha-12: rgba(0, 50, 62, 0.95);
  --colors-teal-1: #fafefd;
  --colors-teal-2: #f3fbf9;
  --colors-teal-3: #e0f8f3;
  --colors-teal-4: #ccf3ea;
  --colors-teal-5: #b8eae0;
  --colors-teal-6: #a1ded2;
  --colors-teal-7: #83cdc1;
  --colors-teal-8: #53b9ab;
  --colors-teal-9: #12a594;
  --colors-teal-10: #0d9b8a;
  --colors-teal-11: #008573;
  --colors-teal-12: #0d3d38;
  --colors-teal-alpha-1: rgba(0, 204, 153, 0.02);
  --colors-teal-alpha-2: rgba(0, 170, 128, 0.05);
  --colors-teal-alpha-3: rgba(0, 198, 157, 0.12);
  --colors-teal-alpha-4: rgba(0, 195, 150, 0.20);
  --colors-teal-alpha-5: rgba(0, 180, 144, 0.28);
  --colors-teal-alpha-6: rgba(0, 166, 133, 0.37);
  --colors-teal-alpha-7: rgba(0, 153, 128, 0.49);
  --colors-teal-alpha-8: rgba(0, 151, 131, 0.67);
  --colors-teal-alpha-9: rgba(0, 158, 140, 0.93);
  --colors-teal-alpha-10: rgba(0, 150, 132, 0.95);
  --colors-teal-alpha-11: #008573;
  --colors-teal-alpha-12: rgba(0, 51, 45, 0.95);
  --colors-jade-1: #fbfefd;
  --colors-jade-2: #f4fbf7;
  --colors-jade-3: #e6f7ed;
  --colors-jade-4: #d6f1e3;
  --colors-jade-5: #c3e9d7;
  --colors-jade-6: #acdec8;
  --colors-jade-7: #8bceb6;
  --colors-jade-8: #56ba9f;
  --colors-jade-9: #29a383;
  --colors-jade-10: #26997b;
  --colors-jade-11: #208368;
  --colors-jade-12: #1d3b31;
  --colors-jade-alpha-1: rgba(0, 192, 128, 0.02);
  --colors-jade-alpha-2: rgba(0, 163, 70, 0.04);
  --colors-jade-alpha-3: rgba(0, 174, 72, 0.10);
  --colors-jade-alpha-4: rgba(0, 168, 81, 0.16);
  --colors-jade-alpha-5: rgba(0, 162, 85, 0.24);
  --colors-jade-alpha-6: rgba(0, 154, 87, 0.33);
  --colors-jade-alpha-7: rgba(0, 148, 95, 0.45);
  --colors-jade-alpha-8: rgba(0, 151, 110, 0.66);
  --colors-jade-alpha-9: rgba(0, 145, 107, 0.84);
  --colors-jade-alpha-10: rgba(0, 135, 100, 0.85);
  --colors-jade-alpha-11: rgba(0, 113, 82, 0.87);
  --colors-jade-alpha-12: rgba(0, 34, 23, 0.89);
  --colors-green-1: #fbfefc;
  --colors-green-2: #f4fbf6;
  --colors-green-3: #e6f6eb;
  --colors-green-4: #d6f1df;
  --colors-green-5: #c4e8d1;
  --colors-green-6: #adddc0;
  --colors-green-7: #8eceaa;
  --colors-green-8: #5bb98b;
  --colors-green-9: #30a46c;
  --colors-green-10: #2b9a66;
  --colors-green-11: #218358;
  --colors-green-12: #193b2d;
  --colors-green-alpha-1: rgba(0, 192, 64, 0.02);
  --colors-green-alpha-2: rgba(0, 163, 47, 0.04);
  --colors-green-alpha-3: rgba(0, 164, 51, 0.10);
  --colors-green-alpha-4: rgba(0, 168, 56, 0.16);
  --colors-green-alpha-5: rgba(1, 156, 57, 0.23);
  --colors-green-alpha-6: rgba(0, 150, 60, 0.32);
  --colors-green-alpha-7: rgba(0, 145, 64, 0.44);
  --colors-green-alpha-8: rgba(0, 146, 75, 0.64);
  --colors-green-alpha-9: rgba(0, 143, 74, 0.81);
  --colors-green-alpha-10: rgba(0, 134, 71, 0.83);
  --colors-green-alpha-11: rgba(0, 113, 63, 0.87);
  --colors-green-alpha-12: rgba(0, 38, 22, 0.90);
  --colors-grass-1: #fbfefb;
  --colors-grass-2: #f5fbf5;
  --colors-grass-3: #e9f6e9;
  --colors-grass-4: #daf1db;
  --colors-grass-5: #c9e8ca;
  --colors-grass-6: #b2ddb5;
  --colors-grass-7: #94ce9a;
  --colors-grass-8: #65ba74;
  --colors-grass-9: #46a758;
  --colors-grass-10: #3e9b4f;
  --colors-grass-11: #2a7e3b;
  --colors-grass-12: #203c25;
  --colors-grass-alpha-1: rgba(0, 192, 0, 0.02);
  --colors-grass-alpha-2: rgba(0, 153, 0, 0.04);
  --colors-grass-alpha-3: rgba(0, 151, 0, 0.09);
  --colors-grass-alpha-4: rgba(0, 159, 7, 0.15);
  --colors-grass-alpha-5: rgba(0, 147, 5, 0.21);
  --colors-grass-alpha-6: rgba(0, 143, 10, 0.30);
  --colors-grass-alpha-7: rgba(1, 139, 15, 0.42);
  --colors-grass-alpha-8: rgba(0, 141, 25, 0.60);
  --colors-grass-alpha-9: rgba(0, 134, 25, 0.73);
  --colors-grass-alpha-10: rgba(0, 123, 23, 0.76);
  --colors-grass-alpha-11: rgba(0, 101, 20, 0.84);
  --colors-grass-alpha-12: rgba(0, 32, 6, 0.87);
  --colors-lime-1: #fcfdfa;
  --colors-lime-2: #f8faf3;
  --colors-lime-3: #eef6d6;
  --colors-lime-4: #e2f0bd;
  --colors-lime-5: #d3e7a6;
  --colors-lime-6: #c2da91;
  --colors-lime-7: #abc978;
  --colors-lime-8: #8db654;
  --colors-lime-9: #bdee63;
  --colors-lime-10: #b0e64c;
  --colors-lime-11: #5c7c2f;
  --colors-lime-12: #37401c;
  --colors-lime-alpha-1: rgba(102, 153, 0, 0.02);
  --colors-lime-alpha-2: rgba(107, 149, 0, 0.05);
  --colors-lime-alpha-3: rgba(150, 200, 0, 0.16);
  --colors-lime-alpha-4: rgba(143, 198, 0, 0.26);
  --colors-lime-alpha-5: rgba(129, 187, 0, 0.35);
  --colors-lime-alpha-6: rgba(114, 170, 0, 0.43);
  --colors-lime-alpha-7: rgba(97, 153, 0, 0.53);
  --colors-lime-alpha-8: rgba(85, 146, 0, 0.67);
  --colors-lime-alpha-9: rgba(147, 228, 0, 0.61);
  --colors-lime-alpha-10: rgba(143, 220, 0, 0.70);
  --colors-lime-alpha-11: rgba(55, 95, 0, 0.82);
  --colors-lime-alpha-12: rgba(30, 41, 0, 0.89);
  --colors-mint-1: #f9fefd;
  --colors-mint-2: #f2fbf9;
  --colors-mint-3: #ddf9f2;
  --colors-mint-4: #c8f4e9;
  --colors-mint-5: #b3ecde;
  --colors-mint-6: #9ce0d0;
  --colors-mint-7: #7ecfbd;
  --colors-mint-8: #4cbba5;
  --colors-mint-9: #86ead4;
  --colors-mint-10: #7de0cb;
  --colors-mint-11: #027864;
  --colors-mint-12: #16433c;
  --colors-mint-alpha-1: rgba(0, 213, 170, 0.02);
  --colors-mint-alpha-2: rgba(0, 177, 138, 0.05);
  --colors-mint-alpha-3: rgba(0, 210, 158, 0.13);
  --colors-mint-alpha-4: rgba(0, 204, 153, 0.22);
  --colors-mint-alpha-5: rgba(0, 192, 145, 0.30);
  --colors-mint-alpha-6: rgba(0, 176, 134, 0.39);
  --colors-mint-alpha-7: rgba(0, 161, 125, 0.51);
  --colors-mint-alpha-8: rgba(0, 158, 127, 0.70);
  --colors-mint-alpha-9: rgba(0, 211, 165, 0.47);
  --colors-mint-alpha-10: rgba(0, 195, 153, 0.51);
  --colors-mint-alpha-11: rgba(0, 119, 99, 0.99);
  --colors-mint-alpha-12: rgba(0, 49, 42, 0.91);
  --colors-sky-1: #f9feff;
  --colors-sky-2: #f1fafd;
  --colors-sky-3: #e1f6fd;
  --colors-sky-4: #d1f0fa;
  --colors-sky-5: #bee7f5;
  --colors-sky-6: #a9daed;
  --colors-sky-7: #8dcae3;
  --colors-sky-8: #60b3d7;
  --colors-sky-9: #7ce2fe;
  --colors-sky-10: #74daf8;
  --colors-sky-11: #00749e;
  --colors-sky-12: #1d3e56;
  --colors-sky-alpha-1: rgba(0, 213, 255, 0.02);
  --colors-sky-alpha-2: rgba(0, 164, 219, 0.05);
  --colors-sky-alpha-3: rgba(0, 179, 238, 0.12);
  --colors-sky-alpha-4: rgba(0, 172, 228, 0.18);
  --colors-sky-alpha-5: rgba(0, 161, 216, 0.25);
  --colors-sky-alpha-6: rgba(0, 146, 202, 0.34);
  --colors-sky-alpha-7: rgba(0, 137, 193, 0.45);
  --colors-sky-alpha-8: rgba(0, 133, 191, 0.62);
  --colors-sky-alpha-9: rgba(0, 199, 254, 0.51);
  --colors-sky-alpha-10: rgba(0, 188, 243, 0.55);
  --colors-sky-alpha-11: #00749e;
  --colors-sky-alpha-12: rgba(0, 37, 64, 0.89);
  --colors-custom-1: #fcfcfc;
  --colors-custom-2: #f9f9f9;
  --colors-custom-3: #f0f0f0;
  --colors-custom-4: #e8e8e8;
  --colors-custom-5: #e1e1e1;
  --colors-custom-6: #d9d9d9;
  --colors-custom-7: #cecece;
  --colors-custom-8: #bbbbbb;
  --colors-custom-9: #000000;
  --colors-custom-10: #2e2e2e;
  --colors-custom-11: #646464;
  --colors-custom-12: #202020;
  --colors-custom-alpha-1: rgba(0, 0, 0, 0.01);
  --colors-custom-alpha-2: rgba(0, 0, 0, 0.02);
  --colors-custom-alpha-3: rgba(0, 0, 0, 0.06);
  --colors-custom-alpha-4: rgba(0, 0, 0, 0.09);
  --colors-custom-alpha-5: rgba(0, 0, 0, 0.12);
  --colors-custom-alpha-6: rgba(0, 0, 0, 0.15);
  --colors-custom-alpha-7: rgba(0, 0, 0, 0.19);
  --colors-custom-alpha-8: rgba(0, 0, 0, 0.27);
  --colors-custom-alpha-9: #000000;
  --colors-custom-alpha-10: rgba(0, 0, 0, 0.82);
  --colors-custom-alpha-11: rgba(0, 0, 0, 0.61);
  --colors-custom-alpha-12: rgba(0, 0, 0, 0.87);
  --overlays-black-alpha-1: rgba(0, 0, 0, 0.05);
  --overlays-black-alpha-2: rgba(0, 0, 0, 0.10);
  --overlays-black-alpha-3: rgba(0, 0, 0, 0.15);
  --overlays-black-alpha-4: rgba(0, 0, 0, 0.20);
  --overlays-black-alpha-5: rgba(0, 0, 0, 0.30);
  --overlays-black-alpha-6: rgba(0, 0, 0, 0.40);
  --overlays-black-alpha-7: rgba(0, 0, 0, 0.50);
  --overlays-black-alpha-8: rgba(0, 0, 0, 0.60);
  --overlays-black-alpha-9: rgba(0, 0, 0, 0.70);
  --overlays-black-alpha-10: rgba(0, 0, 0, 0.80);
  --overlays-black-alpha-11: rgba(0, 0, 0, 0.90);
  --overlays-black-alpha-12: rgba(0, 0, 0, 0.95);
  --overlays-white-alpha-1: rgba(255, 255, 255, 0.05);
  --overlays-white-alpha-2: rgba(255, 255, 255, 0.10);
  --overlays-white-alpha-3: rgba(255, 255, 255, 0.15);
  --overlays-white-alpha-4: rgba(255, 255, 255, 0.20);
  --overlays-white-alpha-5: rgba(255, 255, 255, 0.30);
  --overlays-white-alpha-6: rgba(255, 255, 255, 0.40);
  --overlays-white-alpha-7: rgba(255, 255, 255, 0.50);
  --overlays-white-alpha-8: rgba(255, 255, 255, 0.60);
  --overlays-white-alpha-9: rgba(255, 255, 255, 0.70);
  --overlays-white-alpha-10: rgba(255, 255, 255, 0.80);
  --overlays-white-alpha-11: rgba(255, 255, 255, 0.90);
  --overlays-white-alpha-12: rgba(255, 255, 255, 0.95);
  --colors-default-white: #ffffff;
  --colors-default-black: #1c2024;
  --colors-accent-accent-1: undefined;
  --colors-accent-accent-2: undefined;
  --colors-accent-accent-3: undefined;
  --colors-accent-accent-4: undefined;
  --colors-accent-accent-5: undefined;
  --colors-accent-accent-6: undefined;
  --colors-accent-accent-7: undefined;
  --colors-accent-accent-8: undefined;
  --colors-accent-accent-9: undefined;
  --colors-accent-accent-10: undefined;
  --colors-accent-accent-11: undefined;
  --colors-accent-accent-12: undefined;
  --colors-accent-accent-alpha-1: undefined;
  --colors-accent-accent-alpha-2: undefined;
  --colors-accent-accent-alpha-3: undefined;
  --colors-accent-accent-alpha-4: undefined;
  --colors-accent-accent-alpha-5: undefined;
  --colors-accent-accent-alpha-6: undefined;
  --colors-accent-accent-alpha-7: undefined;
  --colors-accent-accent-alpha-8: undefined;
  --colors-accent-accent-alpha-9: undefined;
  --colors-accent-accent-alpha-10: undefined;
  --colors-accent-accent-alpha-11: undefined;
  --colors-accent-accent-alpha-12: undefined;
  --colors-neutral-neutral-1: undefined;
  --colors-neutral-neutral-2: undefined;
  --colors-neutral-neutral-3: undefined;
  --colors-neutral-neutral-4: undefined;
  --colors-neutral-neutral-5: undefined;
  --colors-neutral-neutral-6: undefined;
  --colors-neutral-neutral-7: undefined;
  --colors-neutral-neutral-8: undefined;
  --colors-neutral-neutral-9: undefined;
  --colors-neutral-neutral-10: undefined;
  --colors-neutral-neutral-11: undefined;
  --colors-neutral-neutral-12: undefined;
  --colors-neutral-neutral-alpha-1: undefined;
  --colors-neutral-neutral-alpha-2: undefined;
  --colors-neutral-neutral-alpha-3: undefined;
  --colors-neutral-neutral-alpha-4: undefined;
  --colors-neutral-neutral-alpha-5: undefined;
  --colors-neutral-neutral-alpha-6: undefined;
  --colors-neutral-neutral-alpha-7: undefined;
  --colors-neutral-neutral-alpha-8: undefined;
  --colors-neutral-neutral-alpha-9: undefined;
  --colors-neutral-neutral-alpha-10: undefined;
  --colors-neutral-neutral-alpha-11: undefined;
  --colors-neutral-neutral-alpha-12: undefined;
  --colors-semantic-error-1: undefined;
  --colors-semantic-error-2: undefined;
  --colors-semantic-error-3: undefined;
  --colors-semantic-error-4: undefined;
  --colors-semantic-error-5: undefined;
  --colors-semantic-error-6: undefined;
  --colors-semantic-error-7: undefined;
  --colors-semantic-error-8: undefined;
  --colors-semantic-error-9: undefined;
  --colors-semantic-error-10: undefined;
  --colors-semantic-error-11: undefined;
  --colors-semantic-error-12: undefined;
  --colors-semantic-error-alpha-1: undefined;
  --colors-semantic-error-alpha-2: undefined;
  --colors-semantic-error-alpha-3: undefined;
  --colors-semantic-error-alpha-4: undefined;
  --colors-semantic-error-alpha-5: undefined;
  --colors-semantic-error-alpha-6: undefined;
  --colors-semantic-error-alpha-7: undefined;
  --colors-semantic-error-alpha-8: undefined;
  --colors-semantic-error-alpha-9: undefined;
  --colors-semantic-error-alpha-10: undefined;
  --colors-semantic-error-alpha-11: undefined;
  --colors-semantic-error-alpha-12: undefined;
  --colors-semantic-success-1: undefined;
  --colors-semantic-success-2: undefined;
  --colors-semantic-success-3: undefined;
  --colors-semantic-success-4: undefined;
  --colors-semantic-success-5: undefined;
  --colors-semantic-success-6: undefined;
  --colors-semantic-success-7: undefined;
  --colors-semantic-success-8: undefined;
  --colors-semantic-success-9: undefined;
  --colors-semantic-success-10: undefined;
  --colors-semantic-success-11: undefined;
  --colors-semantic-success-12: undefined;
  --colors-semantic-success-alpha-1: undefined;
  --colors-semantic-success-alpha-2: undefined;
  --colors-semantic-success-alpha-3: undefined;
  --colors-semantic-success-alpha-4: undefined;
  --colors-semantic-success-alpha-5: undefined;
  --colors-semantic-success-alpha-6: undefined;
  --colors-semantic-success-alpha-7: undefined;
  --colors-semantic-success-alpha-8: undefined;
  --colors-semantic-success-alpha-9: undefined;
  --colors-semantic-success-alpha-10: undefined;
  --colors-semantic-success-alpha-11: undefined;
  --colors-semantic-success-alpha-12: undefined;
  --colors-semantic-warning-1: undefined;
  --colors-semantic-warning-2: undefined;
  --colors-semantic-warning-3: undefined;
  --colors-semantic-warning-4: undefined;
  --colors-semantic-warning-5: undefined;
  --colors-semantic-warning-6: undefined;
  --colors-semantic-warning-7: undefined;
  --colors-semantic-warning-8: undefined;
  --colors-semantic-warning-9: undefined;
  --colors-semantic-warning-10: undefined;
  --colors-semantic-warning-11: undefined;
  --colors-semantic-warning-12: undefined;
  --colors-semantic-warning-alpha-1: undefined;
  --colors-semantic-warning-alpha-2: undefined;
  --colors-semantic-warning-alpha-3: undefined;
  --colors-semantic-warning-alpha-4: undefined;
  --colors-semantic-warning-alpha-5: undefined;
  --colors-semantic-warning-alpha-6: undefined;
  --colors-semantic-warning-alpha-7: undefined;
  --colors-semantic-warning-alpha-8: undefined;
  --colors-semantic-warning-alpha-9: undefined;
  --colors-semantic-warning-alpha-10: undefined;
  --colors-semantic-warning-alpha-11: undefined;
  --colors-semantic-warning-alpha-12: undefined;
  --colors-semantic-info-1: undefined;
  --colors-semantic-info-2: undefined;
  --colors-semantic-info-3: undefined;
  --colors-semantic-info-4: undefined;
  --colors-semantic-info-5: undefined;
  --colors-semantic-info-6: undefined;
  --colors-semantic-info-7: undefined;
  --colors-semantic-info-8: undefined;
  --colors-semantic-info-9: undefined;
  --colors-semantic-info-10: undefined;
  --colors-semantic-info-11: undefined;
  --colors-semantic-info-12: undefined;
  --colors-semantic-info-alpha-1: undefined;
  --colors-semantic-info-alpha-2: undefined;
  --colors-semantic-info-alpha-3: undefined;
  --colors-semantic-info-alpha-4: undefined;
  --colors-semantic-info-alpha-5: undefined;
  --colors-semantic-info-alpha-6: undefined;
  --colors-semantic-info-alpha-7: undefined;
  --colors-semantic-info-alpha-8: undefined;
  --colors-semantic-info-alpha-9: undefined;
  --colors-semantic-info-alpha-10: undefined;
  --colors-semantic-info-alpha-11: undefined;
  --colors-semantic-info-alpha-12: undefined;
  --typography-font-family-text: Inter;
  --typography-font-family-code: Menlo;
  --typography-font-family-emphasis: Times New Roman;
  --typography-font-family-quote: Times New Roman;
  --typography-font-weight-light: Light;
  --typography-font-weight-regular: Regular;
  --typography-font-weight-medium: Medium;
  --typography-font-weight-bold: Bold;
  --typography-font-size-1: 12px;
  --typography-font-size-2: 14px;
  --typography-font-size-3: 16px;
  --typography-font-size-4: 18px;
  --typography-font-size-5: 20px;
  --typography-font-size-6: 24px;
  --typography-font-size-7: 28px;
  --typography-font-size-8: 35px;
  --typography-font-size-9: 60px;
  --typography-letter-spacing-1: 0.03999999910593033px;
  --typography-letter-spacing-2: 0px;
  --typography-letter-spacing-3: 0px;
  --typography-letter-spacing-4: -0.03999999910593033px;
  --typography-letter-spacing-5: -0.07999999821186066px;
  --typography-letter-spacing-6: -0.10000000149011612px;
  --typography-letter-spacing-7: -0.11999999731779099px;
  --typography-letter-spacing-8: -0.1599999964237213px;
  --typography-letter-spacing-9: -0.4000000059604645px;
  --typography-line-height-1: 16px;
  --typography-line-height-2: 20px;
  --typography-line-height-3: 24px;
  --typography-line-height-4: 26px;
  --typography-line-height-5: 28px;
  --typography-line-height-6: 30px;
  --typography-line-height-7: 36px;
  --typography-line-height-8: 40px;
  --typography-line-height-9: 60px;
  --spacing-1: undefined;
  --spacing-2: undefined;
  --spacing-3: undefined;
  --spacing-4: undefined;
  --spacing-5: undefined;
  --spacing-6: undefined;
  --spacing-7: undefined;
  --spacing-8: undefined;
  --spacing-9: undefined;
  --radius-1: undefined;
  --radius-2: undefined;
  --radius-3: undefined;
  --radius-4: undefined;
  --radius-5: undefined;
  --radius-6: undefined;
  --radius-1-max: undefined;
  --radius-2-max: undefined;
  --radius-3-max: undefined;
  --radius-4-max: undefined;
  --radius-5-max: undefined;
  --radius-6-max: undefined;
  --radius-full: 9999px;
  --panel-default: undefined;
  --panel-solid: undefined;
  --panel-translucent: undefined;
  --tokens-colors-page-background: undefined;
  --tokens-colors-surface: undefined;
  --tokens-colors-accent-surface: undefined;
  --tokens-colors-overlay: undefined;
  --tokens-colors-accent-contrast: undefined;
  --tokens-colors-white-contrast: undefined;
  --tokens-colors-black-contrast: undefined;
  --tokens-colors-text: undefined;
  --tokens-space-button-height-1: undefined;
  --tokens-space-button-height-2: undefined;
  --tokens-space-button-height-3: undefined;
  --tokens-space-button-height-4: undefined;
  --tokens-space-menu-item-height-1: undefined;
  --tokens-space-menu-item-height-2: undefined;
  --tokens-space-table-cell-min-height-1: 36px;
  --tokens-space-table-cell-min-height-2: 44px;
  --tokens-space-table-cell-min-height-3: undefined;
  --tokens-space-table-cell-padding-1: undefined;
  --tokens-space-table-cell-padding-2: undefined;
  --tokens-space-table-cell-padding-3: undefined;
  --none-1: 0px;
  --none-2: 0px;
  --none-3: 0px;
  --none-4: 0px;
  --none-5: 0px;
  --none-6: 0px;
  --none-1-max: 0px;
  --none-2-max: 0px;
  --none-3-max: 0px;
  --none-4-max: 0px;
  --none-5-max: 0px;
  --none-6-max: 0px;
  --small-1: 1.5px;
  --small-2: 2px;
  --small-3: 3px;
  --small-4: 4px;
  --small-5: 6px;
  --small-6: 8px;
  --small-1-max: 1.5px;
  --small-2-max: 2px;
  --small-3-max: 3px;
  --small-4-max: 4px;
  --small-5-max: 6px;
  --small-6-max: 8px;
  --medium-1: 3px;
  --medium-2: 4px;
  --medium-3: 6px;
  --medium-4: 8px;
  --medium-5: 12px;
  --medium-6: 16px;
  --medium-1-max: 3px;
  --medium-2-max: 4px;
  --medium-3-max: 6px;
  --medium-4-max: 8px;
  --medium-5-max: 12px;
  --medium-6-max: 16px;
  --large-1: 4.5px;
  --large-2: 6px;
  --large-3: 9px;
  --large-4: 12px;
  --large-5: 18px;
  --large-6: 24px;
  --large-1-max: 4.5px;
  --large-2-max: 6px;
  --large-3-max: 9px;
  --large-4-max: 12px;
  --large-5-max: 18px;
  --large-6-max: 24px;
  --full-1: 6px;
  --full-2: 8px;
  --full-3: 12px;
  --full-4: 16px;
  --full-5: 24px;
  --full-6: 32px;
  --full-1-max: 9999px;
  --full-2-max: 9999px;
  --full-3-max: 9999px;
  --full-4-max: 9999px;
  --full-5-max: 9999px;
  --full-6-max: 9999px;
  --90%-1: 3.5999999046325684px;
  --90%-2: 7.199999809265137px;
  --90%-3: 10.800000190734863px;
  --90%-4: 14.399999618530273px;
  --90%-5: 21.600000381469727px;
  --90%-6: 28.799999237060547px;
  --90%-7: 36px;
  --90%-8: 43.20000076293945px;
  --90%-9: 57.599998474121094px;
  --95%-1: 3.799999952316284px;
  --95%-2: 7.599999904632568px;
  --95%-3: 11.399999618530273px;
  --95%-4: 15.199999809265137px;
  --95%-5: 22.799999237060547px;
  --95%-6: 30.399999618530273px;
  --95%-7: 38px;
  --95%-8: 45.599998474121094px;
  --95%-09: 60.79999923706055px;
  --100%-1: 4px;
  --100%-2: 8px;
  --100%-3: 12px;
  --100%-4: 16px;
  --100%-5: 24px;
  --100%-6: 32px;
  --100%-7: 40px;
  --100%-8: 48px;
  --100%-9: 64px;
  --105%-1: 4.199999809265137px;
  --105%-2: 8.399999618530273px;
  --105%-3: 13.800000190734863px;
  --105%-4: 18.399999618530273px;
  --105%-5: 25.200000762939453px;
  --105%-6: 33.599998474121094px;
  --105%-7: 42px;
  --105%-8: 50.400001525878906px;
  --105%-9: 67.19999694824219px;
  --110%-1: 4.400000095367432px;
  --110%-2: 8.800000190734863px;
  --110%-3: 13.199999809265137px;
  --110%-4: 17.600000381469727px;
  --110%-5: 26.399999618530273px;
  --110%-6: 35.20000076293945px;
  --110%-7: 44px;
  --110%-8: 52.79999923706055px;
  --110%-9: 70.4000015258789px;
}